<h1>Sinatra Project</h1>
</br>
<h2>Which game do you want to play?</h2>
<select name="name" form="game_form">
  <option name="cipher" value="cipher">Caesar Cipher</option>
  <option name="mastermind" value="mastermind">Mastermind</option>
</select>
<p>
<form method="get" action="/" id="game_form">
  <input type="submit" value="enter">
</form>
</p>
