body {
  text-align: center;
}

table, th, td, table tbody table, table tbody th, table tbody td {
  /*border: 1px solid black;*/
  /*border-collapse: collapse;*/
  text-align: center;
}

table {
  margin: auto;
}

#blue {
  background: blue;
  color: blue;
  height: 45px;
  width: 45px;
  border-radius: 100%;
  line-height: 2px;
}

#red {
  background: red;
  color: red;
  height: 45px;
  width: 45px;
  border-radius: 100%;
  line-height: 2px;
}

#green {
  background: green;
  color: green;
  height: 45px;
  width: 45px;
  border-radius: 100%;
  line-height: 2px;
}

#pink {
  background: pink;
  color: pink;
  height: 45px;
  width: 45px;
  border-radius: 100%;
  line-height: 2px;
}

#orange {
  background: orange;
  color: orange;
  height: 45px;
  width: 45px;
  border-radius: 100%;
  line-height: 2px;
}

#yellow {
  background: yellow;
  color: yellow;
  height: 45px;
  width: 45px;
  border-radius: 100%;
  line-height: 2px;
}

.inputs {
  text-align: left;
  float: left;
  width: 30%;
  padding-left: 10%;
}

.results {
  float: right;
  width: 60%;
}
